<div class="h-screen w-32 mt-6">
    <nav class="flex justify-center items-center">
        <div>
            <a href="/home" class="w-1/4 py-4 pl-6 pr-4 md:pl-4 md:py-0">
                <span class="p-1 text-xl font-black leading-none text-primary hover:text-secondary select-none">
                    <span>slaw</span>
                    <span>.</span>
                </span>
            </a>
        </div>
    </nav>
    <div class="flex justify-center">
        <div class="w-24">
            <hr
                class="mt-4 bg-primary h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
        </div>
    </div>
    <div class="flex  justify-center">
        <ul class="mt-4">
            <li class="py-2 text-center"><a class="text-primary hover:text-secondary" href="">Document</a></li>
            <li class="py-2 text-center"><a class="text-primary hover:text-secondary" href="/open-ai">Slawy</a></li>
            <li class="py-2 text-center"><a class="text-primary hover:text-secondary" href="/document">Document</a></li>
            <li class="py-2 text-center"><a class="text-primary hover:text-secondary" href="/document">Document</a></li>
        </ul>
    </div>
</div>