<nav>
  <ul class="flex justify-center space-x-16">
    <li><a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a></li>
    <li><a routerLink="/auth/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a routerLink="/pdf" routerLinkActive="active" ariaCurrentWhenActive="page">PDF</a></li>
    <li><a routerLink="/open-ai" routerLinkActive="active" ariaCurrentWhenActive="page">ChatGPT</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>